    <footer class="bg-gray-200 p-4 text-center">
        <p>&copy; 2024 My App. All rights reserved.</p>
    </footer>

    <script src="/JavaScripts/script.js"></script>
    <script src="/JavaScripts/login.js"></script>
</body>
</html>
